.right {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 5px double black;

}

.left {
    width: 50%;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    background-color: bisque;
}

.App {
    display: flex;

}


.item {
    background-color: aqua;
}

.test {
    
    width: 200px;
    height: 200px;
    background-color: green;
    border-bottom: solid;
    border-width: 20px;
    border-color: brown;

}